dist: xenial
language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install coveralls
  - pip install --upgrade setuptools wheel twine
  - pip install -r test-requirements.txt
# command to run tests
script:
  - pytest -v --cov-report term --cov=claircli tests/ --cov-report html
  - twine check dist/*
after_success:
  - if [[ `python --version` =~ 3.7 ]]; then coveralls; fi